{
  "extends": "airbnb-base/legacy",
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"]
      },
      "alias": {
        "map": [
          ["@", "./src"],
          ["@modules", ".src/modules/"]
        ]
      }
    }
  },
  "ignorePatterns": ["webpack.config.js", "node_modules/"],
  "rules": {
    "operator-linebreak": ["error", "after"],
    "comma-dangle": ["error", "only-multiline"],
    "linebreak-style": 0,
    "no-param-reassign": 0,
    "object-curly-newline": [
      "error",
      { "multiline": true },
      {
        "ObjectExpression": "always",
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": "never",
        "ExportDeclaration": { "multiline": true, "minProperties": 1 }
      }
    ]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "parser": "babel-eslint"
}
