/* Search panel */

.wrapper.search-panel {
  flex-grow: 1;
  flex-basis: 35%;
  justify-content: flex-start;
}

.search-root {
  display: flex;
  width: 100%;
}

input[type='text'] {
  padding-left: 5px;
  font-size: 20px;
}

.input_base {
  width: 70%;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background: rgba(76, 82, 85, 0.4);
  border: 1px solid #fff;
  border-right-width: 0;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-btn {
  height: 40px;
  width: 20%;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid #fff;
  border-left-width: 0;
  border-radius: 0 5px 5px 0;
}

.voice-btn {
  width: 10%;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
