/* Weather block */

.information-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.text_base {
  font-weight: 700;
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.wrapper.weather_block {
  flex-basis: 40%;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px;
}

.weather_today_block--city_country,
.weather_today_block--date_time {
  margin: 5px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #4c525566;
}

.weather_today_block--date_time {
  font-size: 1.15em;
  text-transform: capitalize;
}

.weather-today {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    'temp sign'
    'temp prop';
  grid-template-columns: 2fr 4fr;
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  background-color: #4c525566;
  border: 1px solid #fff;
}

.weather_today_block--sign {
  width: 50%;
  grid-area: sign;
}

.weather_today_block--temp {
  grid-area: temp;
  display: flex;
  justify-content: space-around;
}

.weather_today_block--temp-item {
  font-weight: 400;
  font-size: 4em;
}

.weather_today_block--info_list {
  grid-area: prop;
  justify-self: stretch;
  list-style: none;
}

.weather_today_block--info_list-item {
  display: flex;
  padding: 10px 0 0 10px;
}

.weather_today_block--temp-item_symbol {
  font-weight: 400;
  font-size: 4em;
}

.info_list--item-key {
  width: 70%;
  font-weight: 600;
  font-size: 1em;
}

.info_list--item-value {
  font-weight: 600;
  font-size: 1em;
}

.weather_days_block {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 10px 10px 0;
  border-radius: 5px;
  background-color: #4c525566;
  border: 1px solid #fff;
}

.day_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 33%;
}

.day_block--name {
  align-self: center;
  text-align: center;
  width: 100%;
  font-size: 1em;
}

.day_block--temp,
.day_block--temp-symbol {
  align-self: center;
  font-size: 1.7em;
}

.day_block--sign {
  width: 60%;
  overflow: hidden;
}

@media (max-width: 930px) {
  .day_block--name {
    font-size: 0.8em;
  }
  .day_block--temp,
  .day_block--temp-symbol {
    font-size: 1.3em;
  }

  .info_list--item-key {
    font-size: 0.9em;
  }

  .info_list--item-key {
    font-size: 0.9em;
  }
}
