/* Map box */

.map-block{
  width: 39%;
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
}

.map{
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 75% 90%, 75% 100%, 65% 90%, 0 90%);
  height: 500px;
  width: auto;
  border-radius: 25px;
}

.coordinate{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.map_latitude {
  margin: 5px;
}

.map_longitude {
  margin: 5px;
}

@media (max-width: 640px) {
  .controls_block{
    flex-direction: column;
  }

  .search-panel{
    width: auto;
  }

  .information-block{
    flex-direction: column
  }

  .map{
      height: 400px;
  }

  .map-block{
    width: auto;
  }
}