/* Map box */

.map-block {
  position: relative;
  height: 500px;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
}

.wrapper-map-block {
  display: flex;
  flex-grow: 1;
  flex-basis: 35%;
  flex-direction: column;
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  -webkit-mask-image: url('/assets/img/mask.png');
  mask-image: url('/assets/img/mask.png');
  -webkit-mask-size: cover;
  mask-size: cover;
  z-index: 20;
}

.coordinate {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.map_latitude {
  margin: 5px;
}

.map_longitude {
  margin: 5px;
}

@media (max-width: 640px) {
  .controls_block {
    flex-direction: column;
  }

  .search-panel {
    width: auto;
  }

  .information-block {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .wrapper-map-block {
    height: 600px;
  }
}
