*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  margin: 0 auto;
  padding: 20px 40px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.root {
  margin: 0 auto;
}

/* Control block */

.controls_block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
}

.button-panel{
  flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  justify-content: flex-start;
}

.button-base{
  position: relative;
  width: 44px;
  height: 44px;
  overflow: hidden;
  font-weight: 700;
  font-size: 14px;
  font-family: Arial,Helvetica,sans-serif;
  text-align: center;
  color: #fff;
  background: rgba(76,82,85,.4);
  cursor: pointer;
  transition: .2s ease-in-out;
  user-select: none;
}

.button-base::before{
  content: "";
  position: absolute;
  top: -8px;
  left: -75px;
  width: 50px;
  height: 50px;
  background: linear-gradient(90deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,.5));
  transform: skewX(-45deg);
}

.button-base:hover{
  background-color: green;
}

.button-base::before:hover{
  background-color: green;
  left: 150px;
  transition: .5s ease-in-out;
}

.change-picture{
  margin-right: 5px;
  line-height: 54px;
  background-color: grey;
  background-image: url(./assets/img/controls--btn.png);
  border: 1px solid #fff;
  border-radius: 5px;
}

.drop-list-language{
  display: block;
  width: 71px;
  height: 44px;
  margin-right: 5px;
  padding: 0 0 0 15px;
  font-weight: 700;
  font-size: 14px;
  font-family: Arial,Helvetica,sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: grey;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.drop-list-language ::before{
  content: "";
  position: absolute;
  top: -8px;
  left: -75px;
  width: 50px;
  height: 50px;
  background: linear-gradient(90deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,.5));
  transform: skewX(-45deg);
}

/* Switch toggle */

.switch-temp {
  display: block;
}

.switch-label {
  display: inline-block;
  height: 44px;
  position: relative;
  width: 80px;
  border: solid 1px #ffffff;
  border-radius: 5px;
}

.switch-input {
  left: 0;
  opacity: 0;
}

.switch-span {
  position: absolute;
  top: 0px;
  display: block;
  width: 80px;
  height: 44px;
  font-size: 27px;
  line-height: 32px;
  background: #78c2ad;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.12), inset 0 0 2px rgba(0,0,0,.15);
  transition: .15s ease-out;
}

.switch-span:after,.switch-span:before {
  position: absolute;
  top: 0;
  transition: inherit
}

.switch-span:before {
  content: attr(data-off);
  top: 5px;
  right: 7px;
  color: #fff;
}

.switch-span:after {
  content: attr(data-on);
  top: 5px;
  left: 7px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,.2);
  opacity: 0;
}

.switch-input:checked~.switch-span {
  background: #F3969A;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.15),inset 0 0 3px rgba(0,0,0,.2)
}

.switch-input:checked~.switch-span:before {
  opacity: 0
}

.switch-input:checked~.switch-span:after {
  opacity: 1
}

.switch-handle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 44px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  background-image: linear-gradient(180deg,#fff 40%,#f0f0f0);
  transition: left .15s ease-out;
}

.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0,0,0,.02);
  background-image: linear-gradient(180deg,#eee,#fff);
}

.switch-input:checked~.switch-handle {
  left: 40px;
  box-shadow: -1px 1px 5px rgba(0,0,0,.2);
}

/* Weather block */


.information-block{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.text_base{
  font-weight: 700;
  font-size: 21px;
  font-family: Arial,Helvetica,sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.weather_block{
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
}

.weather_today_block--city_country, .weather_today_block--date_time {
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
}

.weather_today_block--date_time{
  font-size: 1.15em;
  text-transform: capitalize;
}

.weather-today{
  display: grid;
  align-items: center;
  grid-template-areas:
      "temp sign"
      "temp prop";
  grid-template-columns: 2fr 1fr;
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  justify-items: center;
}

.weather_days_block{
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
}

.weather_today_block--sign{
  width: 80%;
  grid-area: sign;
}

.weather_today_block--temp {
  font-weight: 400;
  font-size: 6em;
  grid-area: temp;
}

.weather_today_block--info_list {
  align-self: flex-start;
  grid-area: prop;
  justify-self: left;
}

.weather_today_block--info_list-item{
  padding: 15px 0 0 15px;
  font-size: 1em;
}

.day_block{
  display: flex;
  flex-wrap: wrap;
  width: 33%;
}

.day_block--name{
  align-self: center;
  text-align: center;
  width: 100%;
  font-size: 1em;
}

.day_block--temp{

  padding: 15px 15px 0 15px;
  font-size: 2em;
}

.day_block--sign {
  width: 40%;
  padding: 15px 15px 15px 0;
}

